.chat-window{
    width: 60%;
    position: relative;
    background-color: rgb(216, 197, 230);
    margin: auto;
    text-align: center;
    min-height: 80vh;
}
.chat-form{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.offset{
    height: 80px;
}
.msg{
    width: 100%;
    background-color: rgb(68, 35, 92);
    min-height: 40px;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
    display: flex;
}

.name{
    color: aqua;
    font-weight: bold;
    padding-right: 5px;
}

.body{
    color: white;
}